<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
<h1>welcome {{username}} !</h1>
<br>
<form method="POST" action="/spiderapp/download_page/">{% csrf_token %}
<div>
<textarea name="MSG" cols=40 rows=4>
请输入需要爬取的完整的url（例如http://www.dj.com）
</textarea>
</div>
<input type="submit" value="提交">
</form>
<a href="http://127.0.0.1:8000/spiderapp/logout/">退出</a>
</body>
</html>